

body {
  background-color: #1d1d1d;
  /* background-color: black; */

}


.text-set {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: #222222;
  border-color: black;
  border-width: 0.5px ;
  border-style: solid;
  /* background-color: black; */
}
